
{% extends 'base.html' %}

{% block body %}
		<!-- end:fh5co-header -->
		<div class="fh5co-parallax" style="background-image: url({{ url_for('static', filename='images/home-image-41.jpg') }});" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
						<div class="fh5co-intro fh5co-table-cell animate-box">
							<h1 class="text-center">AI Recommended Work Out Plan</h1>
							
						</div>
					</div>
				</div>
			</div>
		</div><!-- end: fh5co-parallax -->
		<!-- end:fh5co-hero -->
		<div id="fh5co-team-section">
			<div class="container">
				<div class="row about">
					<div class="col-md-12 col-md-offset-0">
						<img class="img-responsive animate-box" src="{{ url_for('static', filename='images/'+image) }}" alt="About">
					</div>
					<div class="col-md-12 col-md-offset-0 animate-box">
						<p><b>Location  :</b></p>
						<blockquote>
						  <p>{{location}}</p>
						</blockquote>

						<p><b>Duration  :</b></p>
						<blockquote>
						  <p>{{duration}}</p>
						</blockquote>

						<p><b>Warm Up  :</b></p>
						<blockquote>
						  <p>{{warmup}}</p>
						</blockquote>

						<p><b>Work Out  :</b></p>
						
						{% for name in workout %}
						<blockquote>
							<p>{{ name }}</p>
						</blockquote>
							
						{% endfor %}
						  

						<p><b>Cool down  :</b></p>
						{% for name in cooldown %}
						<blockquote>
							<p>{{ name }}</p>
						</blockquote>
							
						{% endfor %}
					
					</div>
				</div>
				
			</div>
		</div>

		
{% endblock %}
		